[program:obpy]
process_name=obpy
directory={{ project_dir }}
command={{ project_venv }}/bin/uvicorn ob.server:app --host 0.0.0.0 --port={{ api_port }}
user={{ project_user }}
group={{ project_group }}
autostart=true
autorestart=true
environment=
  APP_DOMAIN="{{ domain_name }}",
  STORAGE_S3_BUCKET_NAME="obpy-90093b2",
  STORAGE_UPLOADS_TABLE_NAME="obpyTable-3830810"
